@import "@/styles/_vars";
@import "@/components/Button/Button.module.scss";

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;

    padding: 20px;

    &__button {
        @extend .button;
        align-self: center;
    }
}
